# COMMON ENV FILE

# ----------------------------------------------------------------------------------------
# INSTALLED SERVICES
# ----------------------------------------------------------------------------------------

# Beets: Media library organizer for improving music metadata
# Caddy: Web server with automatic HTTPS and easy configuration
# File Browser: Lightweight, web-based file management interface
# Gotenberg: API for converting documents (HTML, Office) into PDFs
# HomePage: Customizable application dashboard/startpage with service integrations
# Immich: Self-hosted photo and video backup, similar to Google Photos
# Jellyfin: Open-source software for streaming your movies and music media
# Nextcloud: Self-hosted platform for file sharing, sync, and collaboration (cloud)
# Portainer: Web-based control panel for managing Docker and containers
# Speed_test: (custom) Measures internet connection performance from the command line
# SpotDL: Downloads music from YouTube using Spotify links for metadata
# Languagetool: Open Source proofreading software

BEETS_PROJECT_NAME=beets
CADDY_PROJECT_NAME=caddy
FILE_BROWSER_PROJECT_NAME=filebrowser
GOTENBERG_PROJECT_NAME=gotenberg
HOMEPAGE_PROJECT_NAME=homepage
IMMICH_PROJECT_NAME=immich
JELLYFIN_PROJECT_NAME=jellyfin
NEXTCLOUD_PROJECT_NAME=nextcloud
PORTAINER_PROJECT_NAME=portainer
SPEED_TEST_PROJECT_NAME=speedtest
SPOTDL_PROJECT_NAME=spotdl
LANGUAGETOOL_PROJECT_NAME=languagetool

# ----------------------------------------------------------------------------------------
# HOST_IP
# ----------------------------------------------------------------------------------------
# the ports can be published in 2 ways:
#   - on the loopback interface (127.0.0.1)
#   - or all interfaces (0.0.0.0). By default. this means it is accessible from host and
# from the network and it bypasses your firewall config
#
# also give your server a static IP. this is done by applying a DHCP reservation on the
# router.

HOST_LOOPBACK_IP=127.0.0.1
HOST_IP=192.168.1.3

# ----------------------------------------------------------------------------------------
# TIMEZONE
# ----------------------------------------------------------------------------------------
# test with comparing your current date with: docker exec -it <MY_CONTAINER> date
# https://en.wikipedia.org/wiki/List_of_tz_database_time_zones#List
TZ=Africa/Casablanca

# ----------------------------------------------------------------------------------------
# PUID (Process User ID) / PGID (Process Group ID)
# ----------------------------------------------------------------------------------------
# https://docs.linuxserver.io/general/understanding-puid-and-pgid/
#
# {GID} and {UID} are the group and user ids that the running container will map to.
# By default, docker containers run as root, which isn't always preferable. Setting
# these environment parameters will ensure anything this container does will be
# under the correct user.
#
# specify ownership permissions = which host user and group it should run as when it
# creates or modifies files in mounted volumes/bind mounts
#
# Inside the container, run the main app as the same user who has UID 1000 and GID 1000
# on the host. so files created will be accessible by the host user
#
# get them from: id $USER or id -u and id -g

PUID=1000
PGID=1000

# ----------------------------------------------------------------------------------------
# IMAGES AND TAGS
# ----------------------------------------------------------------------------------------

IMAGE_BEETS=lscr.io/linuxserver/beets
IMAGE_JELLYFIN=jellyfin/jellyfin
IMAGE_CADDY=caddy
IMAGE_IMMICH=ghcr.io/immich-app/immich-server
IMAGE_IMMICH_POSTGRES=ghcr.io/immich-app/postgres
IMAGE_IMMICH_REDIS=docker.io/valkey/valkey
IMAGE_IMMICH_ML=ghcr.io/immich-app/immich-machine-learning
IMAGE_SPOTDL=spotdl/spotify-downloader
IMAGE_FILEBROWSER=filebrowser/filebrowser
IMAGE_GOTENBERG=gotenberg/gotenberg
IMAGE_HOMEPAGE=ghcr.io/gethomepage/homepage
IMAGE_PORTAINER_CE=portainer/portainer-ce
IMAGE_LANGUAGETOOL=meyay/languagetool
IMAGE_ADGUARD=adguard/adguardhome
IMAGE_UNBOUND=mvance/unbound
IMAGE_UPTIMEKUMA=louislam/uptime-kuma
IMAGE_NETDATA=netdata/netdata
IMAGE_GLUETUN=qmcgaw/gluetun
IMAGE_QBITTORRENT=lscr.io/linuxserver/qbittorrent
IMAGE_PROWLARR=lscr.io/linuxserver/prowlarr
IMAGE_RADARR=lscr.io/linuxserver/radarr
IMAGE_SONARR=lscr.io/linuxserver/sonarr
IMAGE_LIDARR=lscr.io/linuxserver/lidarr
IMAGE_READARR=lscr.io/linuxserver/readarr
IMAGE_BAZARR=lscr.io/linuxserver/bazarr
IMAGE_RECYCLARR=ghcr.io/recyclarr/recyclarr
IMAGE_FLARESOLVERR=ghcr.io/flaresolverr/flaresolverr

TAG_BEETS=2.5.1
TAG_JELLYFIN=10.11.3
TAG_CADDY=2.10.2-alpine
TAG_IMMICH=v2.3.1
TAG_IMMICH_POSTGRES=14-vectorchord0.4.3-pgvectors0.2.0@sha256:bcf63357191b76a916ae5eb93464d65c07511da41e3bf7a8416db519b40b1c23
TAG_IMMICH_REDIS=8@sha256:81db6d39e1bba3b3ff32bd3a1b19a6d69690f94a3954ec131277b9a26b95b3aa
TAG_IMMICH_ML=v2.2.3
TAG_SPOTDL=v4.4.3
TAG_FILEBROWSER=v2.49.0
TAG_GOTENBERG=8.24.0
TAG_HOMEPAGE=v1.7.0
TAG_PORTAINER_CE=2.33.6-alpine
TAG_LANGUAGETOOL=6.7-3
TAG_ADGUARD=v0.107.71
TAG_UNBOUND=1.21.1
TAG_UPTIMEKUMA=2.0.2
IMAGE_DOZZLE=amir20/dozzle
TAG_DOZZLE=v8.14.12
TAG_NETDATA=v2.8.4
TAG_GLUETUN=v3
TAG_QBITTORRENT=5.1.4
TAG_PROWLARR=2.3.0.5236-ls134
TAG_SONARR=4.0.16.2944-ls300
TAG_RADARR=6.0.4.10291-ls289
TAG_LIDARR=3.1.0.4875-ls16
TAG_READARR=nightly-0.4.19.2811-ls400
TAG_BAZARR=v1.5.4-ls331
TAG_RECYCLARR=7.5.2
TAG_FLARESOLVERR=v3.4.6


# i still need to test / work with nextcloud
IMAGE_NEXTCLOUD=lscr.io/linuxserver/nextcloud
TAG_NEXTCLOUD=32-apache

# ----------------------------------------------------------------------------------------
# PORTS
# ----------------------------------------------------------------------------------------


BEETS_HTTP_PORT=8337

CADDY_HTTP_PORT=80
CADDY_HTTPS_PORT=443
CADDY_HTTP3_PORT=443

FILE_BROWSER_HTTP_PORT=8888

GOTENBERG_HTTP_PORT=3999

HOMEPAGE_HTTP_PORT=3888

IMMICH_HTTP_PORT=2283

JELLYFIN_HTTP_PORT=8096
JELLYFIN_HTTPS_PORT=8920
JELLYFIN_DLNA_PORT=1900
JELLYFIN_AUTO_DISCOVERY_PORT=7359

PORTAINER_HTTPS_PORT=9443
PORTAINER_LEGACY_HTTP_PORT=9000
PORTAINER_EDGE_AGENT_PORT=8000

LANGUAGETOOL_HTTP_PORT=8081

ADGUARD_DNS_PORT=53
ADGUARD_DHCP_SERVER=67

UPTIMEKUMA_HTTP_PORT=3001

DOZZLE_PORT=8999

NETDATA_PORT=19999

QBITTORRENT_WEBUI_PORT=8080

PROWLARR_WEBUI_PORT=9696

RADARR_WEBUI_PORT=7878

SONARR_WEBUI_PORT=8989

LIDARR_WEBUI_PORT=8686

READARR_WEBUI_PORT=8787

BAZARR_WEBUI_PORT=6767

FLARESOLVERR_WEBUI_PORT=8191

# ----------------------------------------------------------------------------------------
# VOLUMES
# ----------------------------------------------------------------------------------------
#
# data
# ├── torrents
# │   ├── books
# │   ├── movies
# │   ├── music
# │   └── tv
# ├── usenet
# │   ├── incomplete
# │   └── complete
# │       ├── books
# │       ├── movies
# │       ├── music
# │       └── tv
# └── media
#     ├── books
#     ├── movies
#     ├── music
#     └── tv

DATA_ROOT=/mnt/storage/data
CONFIGS_ROOT=/srv/docker-compose
VOLUMES_ROOT=/mnt/docker-volumes
SITES_ROOT=/srv/sites

IMMICH_UPLOAD_LOCATION=immich/library
IMMICH_DB_DATA_LOCATION=immich/postgres
IMMICH_DB_PASSWORD=your_db_password_here
IMMICH_DB_USERNAME=postgres
IMMICH_DB_DATABASE_NAME=immich

SPOT_DL_MUSIC_PATH=music

HOMEPAGE_CONFIG=homepage/config
HOMEPAGE_LOGS=homepage/logs
HOMEPAGE_ICONS=homepage/icons
HOMEPAGE_IMAGES=homepage/images

LANGUAGETOOL_NGRAMS=languagetool/ngrams
LANGUAGETOOL_FASTTEXT=languagetool/fasttext

# ----------------------------------------------------------------------------------------
# immich
# ----------------------------------------------------------------------------------------

IMMICH_VERSION=v2


# ----------------------------------------------------------------------------------------
# KEYS
# ----------------------------------------------------------------------------------------
WIREGUARD_PRIVATE_KEY=your_wireguard_private_key_here
